---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: username=ross_edfort&method=flickr.people.findByUsername&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="0f3a24c9d16095734cebf6b5e8753f15",
        oauth_nonce="GSWZS4FgsPzo9rRAQ6EjN6xklfYg7Q2dww9FHMPb494%3D", oauth_signature="e91fce5ff67d9678%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1450315575", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAADJzVe9e1uh7AAAAAAAAAAA7a3.mhpXmy0AAAAAAAAAAAAFJw3otJoBAAUnDei5rIRiiU_HAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"id":"45646189@N06","nsid":"45646189@N06","username":{"_content":"ross_edfort"}},"stat":"ok"}'
  recorded_at: Thu, 17 Dec 2015 01:26:16 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=45646189%40N06&method=flickr.people.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="0f3a24c9d16095734cebf6b5e8753f15",
        oauth_nonce="7ZBuHsWhTxodSx9XfA2Z4xSc6V0Obia0kg3K%2FzeqTBg%3D", oauth_signature="e91fce5ff67d9678%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1450315576", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAADt.3m_K6rVewAAAAAAAAAAbhWw55tpMSoAAAAAAAAAAAAFJw3owwxXAAUnDejHckHo1vNBAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"person":{"id":"45646189@N06","nsid":"45646189@N06","ispro":0,"can_buy_pro":0,"iconserver":"8792","iconfarm":9,"path_alias":"ross_edfort","has_stats":"1","username":{"_content":"ross_edfort"},"description":{"_content":""},"photosurl":{"_content":"https:\/\/www.flickr.com\/photos\/ross_edfort\/"},"profileurl":{"_content":"https:\/\/www.flickr.com\/people\/ross_edfort\/"},"mobileurl":{"_content":"https:\/\/m.flickr.com\/photostream.gne?id=45600867"},"photos":{"firstdatetaken":{"_content":"2010-07-01
        19:40:47"},"firstdate":{"_content":"1278027647"},"count":{"_content":373}}},"stat":"ok"}'
  recorded_at: Thu, 17 Dec 2015 01:26:17 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=45646189%40N06&per_page=12&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="0f3a24c9d16095734cebf6b5e8753f15",
        oauth_nonce="zV2JNIyPQGeAvNaPQI8UHFVNjYbfxHCgW9SUXDnC82Y%3D", oauth_signature="e91fce5ff67d9678%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1450315577", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAAAT.5vhWzfU8AAAAAAAAAAAB4oa3nftv7YAAAAAAAAAAAAFJw3o0TnoAAUnDejU5TAswhrEAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":32,"perpage":12,"total":"373","photo":[{"id":"17362809323","owner":"45646189@N06","secret":"2eb0de3016","server":"7727","farm":8,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17956891336","owner":"45646189@N06","secret":"885450e9c7","server":"7703","farm":8,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17956890516","owner":"45646189@N06","secret":"d21e6d5ffe","server":"8870","farm":9,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17983325485","owner":"45646189@N06","secret":"c48afe2980","server":"8893","farm":9,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17980166842","owner":"45646189@N06","secret":"944244b77e","server":[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=17362809323&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="0f3a24c9d16095734cebf6b5e8753f15",
        oauth_nonce="ytXkpdyNlW4hy7iMIDT52250D9s%2BQg8Z%2B3qREXuONUc%3D", oauth_signature="e91fce5ff67d9678%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1450315578", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAACIJMP2ikDMjQAAAAAAAAAAbhWw55tpMSoAAAAAAAAAAAAFJw3o31P5AAUnDejiqCCPLLcGAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"17362809323","secret":"2eb0de3016","server":"7727","farm":8,"dateuploaded":"1432336229","isfavorite":0,"license":"1","safety_level":"0","rotation":0,"originalsecret":"f62c6d28ce","originalformat":"jpg","owner":{"nsid":"45646189@N06","username":"ross_edfort","realname":"","location":"","iconserver":"8792","iconfarm":9,"path_alias":"ross_edfort"},"title":{"_content":""},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1432336229","taken":"2015-05-22
        13:13:03","takengranularity":"0","takenunknown":"0","lastupdate":"1432336232"},"views":"35","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"location":{"latitude":"39.741902","longitude":"-105.516617","accuracy":"16","context":"0","locality":{"_content":"Idaho
        Springs","place_id":"aX58JetTVrhaUSDb","woeid":"2426441"},"county":{"_content":"Clear
        Creek","place_id":"m2W7WMhQUL9CpgjbaQ","woeid":"12587737"},"region":{"_content":"Colorado","place_id":"Tz5TbMVTUb6cLY9f","woeid":"2347564"},"country":{"_content":"United
        States","place_id":"nz.gsghTUb4c2WAecA","woeid":"23424977"},"place_id":"aX58JetTVrhaUSDb","woeid":"2426441"},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/ross_edfort\/17362809323\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Thu, 17 Dec 2015 01:26:19 GMT
[...]
