---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: username=ross_edfort&method=flickr.people.findByUsername&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="0f3a24c9d16095734cebf6b5e8753f15",
        oauth_nonce="SuPOxjyeq1e9FdWacTUZTeWoV0iPemAOwuF6RctFTUU%3D", oauth_signature="e91fce5ff67d9678%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1450334324", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAAAppzIcPWm4MgAAAAAAAAAAB4oa3nftv7YAAAAAAAAAAAAFJxJGQ2NNAAUnEkZFYSP_P3.mAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"id":"45646189@N06","nsid":"45646189@N06","username":{"_content":"ross_edfort"}},"stat":"ok"}'
  recorded_at: Thu, 17 Dec 2015 06:38:45 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=45646189%40N06&method=flickr.people.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="0f3a24c9d16095734cebf6b5e8753f15",
        oauth_nonce="wPJZtH3WldK9T1j%2F%2BAsK5X8ZE1owxIVIBumU2UnjpQc%3D", oauth_signature="e91fce5ff67d9678%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1450334325", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAABV8kHddZkIpgAAAAAAAAAAB4oa3nftv7YAAAAAAAAAAAAFJxJGSWM3AAUnEkZNslc3rk7fAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"person":{"id":"45646189@N06","nsid":"45646189@N06","ispro":0,"can_buy_pro":0,"iconserver":"8792","iconfarm":9,"path_alias":"ross_edfort","has_stats":"1","username":{"_content":"ross_edfort"},"description":{"_content":""},"photosurl":{"_content":"https:\/\/www.flickr.com\/photos\/ross_edfort\/"},"profileurl":{"_content":"https:\/\/www.flickr.com\/people\/ross_edfort\/"},"mobileurl":{"_content":"https:\/\/m.flickr.com\/photostream.gne?id=45600867"},"photos":{"firstdatetaken":{"_content":"2010-07-01
        19:40:47"},"firstdate":{"_content":"1278027647"},"count":{"_content":373}}},"stat":"ok"}'
  recorded_at: Thu, 17 Dec 2015 06:38:45 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=45646189%40N06&per_page=12&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="0f3a24c9d16095734cebf6b5e8753f15",
        oauth_nonce="iM%2B550hjgWWJLeOJQNMASCKpVMuBv1u9LJkXHJOch3Y%3D", oauth_signature="e91fce5ff67d9678%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1450334325", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAAB2S7AnNBF8hAAAAAAAAAAA7a3.mhpXmy0AAAAAAAAAAAAFJxJGU_3ZAAUnEkZV1QZfI2bqAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":32,"perpage":12,"total":"373","photo":[{"id":"17362809323","owner":"45646189@N06","secret":"2eb0de3016","server":"7727","farm":8,"title":"Map","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17956891336","owner":"45646189@N06","secret":"885450e9c7","server":"7703","farm":8,"title":"Whiskey","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17956890516","owner":"45646189@N06","secret":"d21e6d5ffe","server":"8870","farm":9,"title":"Darts","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17983325485","owner":"45646189@N06","secret":"c48afe2980","server":"8893","farm":9,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17980166842","owner":"45646189@N06","secret":"944244b77[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=17362809323&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="0f3a24c9d16095734cebf6b5e8753f15",
        oauth_nonce="FvHj%2BTb6d73OoIGXbNsImjo9SlCnxx3jhv%2F7YZ7EbVY%3D", oauth_signature="e91fce5ff67d9678%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1450334326", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAACjn.RnYB9KwAAAAAAAAAAAbhWw55tpMSoAAAAAAAAAAAAFJxJGWYj6AAUnEkZcNZ44g5C1AAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"17362809323","secret":"2eb0de3016","server":"7727","farm":8,"dateuploaded":"1432336229","isfavorite":0,"license":"1","safety_level":"0","rotation":0,"originalsecret":"f62c6d28ce","originalformat":"jpg","owner":{"nsid":"45646189@N06","username":"ross_edfort","realname":"","location":"","iconserver":"8792","iconfarm":9,"path_alias":"ross_edfort"},"title":{"_content":"Map"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1432336229","taken":"2015-05-22
        13:13:03","takengranularity":"0","takenunknown":"0","lastupdate":"1450324030"},"views":"35","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"45600867-17362809323-9312","author":"45646189@N06","authorname":"ross_edfort","raw":"pins","_content":"pins","machine_tag":false},{"id":"45600867-17362809323-39787","author":"45646189@N06","authorname":"ross_edfort","raw":"northeast","_content":"northeast","machine_tag":false},{"id":"45600867-17362809323-4942","author":"45646189@N06","authorname":"ross_edfort","raw":"map","_content":"map","machine_tag":false}]},"location":{"latitude":"39.741902","longitude":"-105.516617","accuracy":"16","context":"0","locality":{"_content":"Idaho
        Springs","place_id":"aX58JetTVrhaUSDb","woeid":"2426441"},"county":{"_content":"Clear
        Creek","place_id":"m2W7WMhQUL9CpgjbaQ","woeid":"12587737"},"region":{"_content":"Colorado","place_id":"Tz5TbMVTUb6cLY9f","woeid":"2347564"},"country":{"_content":"United
        States","place_id":"nz.gsghTUb4c2WAecA","woeid":"23424977"},"place_id":"aX58JetTVrhaUSDb","woeid":"2426441"},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/ross_edfort\/17362809323\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Thu, 17 Dec 2015 06:38:46 GMT
[...]
