---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=45646189%40N06&per_page=12&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="0f3a24c9d16095734cebf6b5e8753f15",
        oauth_nonce="Ci8%2BzpQCeq%2ByNBZtrT3bdl57BpPhgNrMwNY4Udxf8qA%3D", oauth_signature="e91fce5ff67d9678%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1450319901", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAACpom6WXHRJEQAAAAAAAAAAbhWw55tpMSoAAAAAAAAAAAAFJw7qq.WqAAUnDuqxuxIfO.yQAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":32,"perpage":12,"total":"373","photo":[{"id":"17362809323","owner":"45646189@N06","secret":"2eb0de3016","server":"7727","farm":8,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17956891336","owner":"45646189@N06","secret":"885450e9c7","server":"7703","farm":8,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17956890516","owner":"45646189@N06","secret":"d21e6d5ffe","server":"8870","farm":9,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17983325485","owner":"45646189@N06","secret":"c48afe2980","server":"8893","farm":9,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"17980166842","owner":"45646189@N06","secret":"944244b77e","server":[...]
