<div class="container large-top-margin">
  <div class="row">
    <% @album_photos.each_with_index do |photo, index| %>
      <div class="col s3">
        <div class="photo-container" id="album_photo_<%= index %>">
          <%= image_tag get_photo(photo.id) %>
        </div>
        <div class="photo-description">
          <p>
            <%= photo.title %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
