/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'materialize';

.large-top-margin{
  margin-top: 200px;
}

.top-margin{
  margin-top: 50px;
}

.med-top-margin{
  margin-top: 125px;
}

.photo-container{
  min-width: 250px;
  min-height: 250px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#global-nav .gn-wrap #logo-main{
  position: absolute;
  margin-top: 15px;
  color: #FFF;
  font-size: 24px;
}

.album-description{
  margin-bottom: 150px;
}

.links{
  position: absolute;
  left: 175px;
}

.photo-well{
  width: 100%;
  background-color: #cccccc;
}

.comment-box{
  margin-left: 200px;
  margin-bottom: 200px;
}

.photo-info{
  position: absolute;
  right: 200px;
}

.album-photo-container{
  margin-top: 20px;
}

.photo-description{
  min-height: 100px;
}
