<!DOCTYPE html>
<html>
<head>
  <title>FlickrCurious</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://s.yimg.com/pw/combo/1/3.11.0?c/c_.X_nav_re.GW.BC.v3wGzM2B&c/c_.J_.D.BC.v3Eu2kD4&c/c_.EM_.D.BC.v5fL7pXT&c/c_.B-.LGs-2013.BC.v4C1w5xK&c/c_sihp-.LGs-423.BC.v5L1UKrK&c/c_sihp-.LGs-icons.BC.v5XUs8PK&c/c_.HG.BC.v2TKc8xk&c/c_.FW-.HN.BC.v4kkuEVP&c/c_.B-.BBs-v3.BC.vk1vaxp&c/c_.LD423.BC.v4uv1Cf2&c/c_.LD.I-423.BC.v3hgkVd6&c/c_signup_form.BC.v3nPhCxg&c/c_feed-promotional-banners.BC.v2vdUqqi&" type="text/css">
</head>
<body>
  <div id="global-nav" class="no-js  styleguide-global-nav">
	   <div id="gn-wrap" class="gn-wrap " >
  		<div class="logo">
			<a href="/" data-track="Logo-main" title="Flickr logo. If you click it, you'll go home">
        <span class="refresh-logo-2013">Flickr logo. If you click it, you'll go home</span>
      </a>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
